* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #FCFCFC;
}
.page-wrapper {
  width: 100%;
}
.section-wrapper {
  width: 1100px;
  margin: auto;
}
.background-images-function {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.car-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 2, 2, 0.6)), to(rgba(2, 2, 2, 0.3))), url("/images/front-bg.jpg");
  background: linear-gradient(rgba(2, 2, 2, 0.6), rgba(2, 2, 2, 0.3)), url("/images/front-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.car-bg .bg-title {
  color: white;
  text-align: center;
  height: 600px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}
.top-menu {
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.7;
  padding: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
}
.top-menu .menu-link {
  padding: 10px 0;
  width: 55%;
  margin-left: auto;
}
.top-menu .menu-link a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}
.top-menu .logo {
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: flex;
}
.contact-us {
  background-color: black;
  color: white;
  padding: 20px 160px;
}
.step {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 100px auto;
}
.step .step-box {
  margin: auto;
  text-align: center;
  width: 200px;
  height: 250px;
}
.step .step-box img {
  margin: 20px 0;
}
.step .step-box p {
  line-height: 2;
}
.car-loan {
  display: -webkit-box;
  display: flex;
}
.car-loan .left-box {
  padding: 0 70px;
}
.car-loan .left-box img {
  width: 400px;
  margin: 50px 0;
}
.car-loan .right-box {
  padding: 50px 0;
  width: 100%;
}
.car-loan .right-box .box-temp {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.car-loan .right-box .box-temp .contact-info {
  width: 220px;
  text-align: center;
  padding: 20px;
}
.car-loan .right-box .box-temp .contact-info input {
  height: 25px;
  width: 200px;
}
.car-loan .right-box .box-temp .contact-info input[type="radio"] {
  display: none;
}
.car-loan .right-box .box-temp .contact-info label {
  padding: 10px 40px;
  background-color: grey;
}
.car-loan .right-box .box-temp .contact-info input[type="radio"]:checked + label {
  background-color: #ECB42D;
  cursor: default;
  color: #E6E6E6;
}
.car-loan .right-box .box-temp .contact-info select {
  width: 200px;
  height: 30px;
}
.car-loan .right-box a {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.car-loan a {
  padding: 10px 60px;
  background-color: #ECB42D;
  color: white;
  text-decoration: none;
  margin: auto;
}
.car-loan h5 {
  margin: auto;
}
.footer {
  background-color: black;
  color: white;
  padding: 50px 60px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}
.footer .footer-search .icon {
  background-color: #ECB42D;
  padding: 6px;
  position: relative;
  top: 7px;
}
.footer .footer-search input {
  height: 24px;
  margin-right: 20px;
  width: 150px;
}
.footer .footer-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
}
.footer .footer-link .footer-link-box {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 20px 0;
}
.footer .footer-link .footer-link-box .link-box {
  display: -webkit-box;
  display: flex;
  padding: 5px 20px 20px 0;
}
.footer .footer-link .footer-link-box .link-box img {
  width: 20px;
  height: 20px;
  padding-right: 20px;
}
.footer .footer-contact {
  width: 30%;
}
.footer .footer-contact .contact-box {
  display: -webkit-box;
  display: flex;
}
.footer .footer-contact .contact-box img {
  width: 20px;
  height: 20px;
}
.footer .footer-contact .contact-box h4 {
  padding-left: 10px;
}
.hr-box {
  background-color: black;
}
.footer-copyright {
  background-color: black;
  color: white;
  width: 100%;
}
.footer-copyright .cr-box {
  display: -webkit-box;
  display: flex;
  padding: 40px 110px 40px 750px;
}
